@model Models.projectModels.Applicants;

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/signupin.css" />
 

</head> 
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ">
                 <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                  
            </ul>
             <ul class="navbar-nav ml-auto">
          
            </div>
        </div>
     </nav>

@* 
<div>
     <a class="nav-link text-dark btn-outline-primary" asp-area="" asp-controller="Applicants" asp-action="ApplicantSignup">Register as User </a>

    <a class="nav-link text-dark btn-outline-primary" asp-area="" asp-controller="HiringManager" asp-action="HiringManagerSignup">Regist as Hiring Manager</a>


</div>  *@

@{
    Layout ="";
}

 <div class="container">
      <div class="forms-container">
        <div class="signin-signup">

           <form name="form" class="sign-in-form"   >
                        <div class="content ">
                        <h3>One of us ?</h3>
                        <p>
                        If You Already Have Account Signin Here.
                        </p>
                        <a asp-action="Signin" asp-controller="Login" class="btn " id="sign-in-btn">
                        Sign in
                        </a>
                    </div>
                </form>


          <form name="myform" class="sign-up-form" method="post" asp-action="ApplicantSignup" >
            <h2 class="title">Sign up</h2>
            <div class="input-field">

              <i class="fas fa-user"></i>
              <input asp-for="FullName" type="text" name="FullName" placeholder="fullName" />
            </div>
             <div class="input-field">

              <i class="fas fa-user"></i>
              <input asp-for="PhoneNumber" type="text" name="PhoneNumber" placeholder="Mobile" />
            </div>
               <div class="input-field">

              <i class="fas fa-user"></i>
              <input asp-for="LinkedInLink" type="text" name="LinkedInLink" placeholder="LinkedIn Link" />
            </div>
               <div class="input-field">

              <i class="fas fa-user"></i>
              <input asp-for="JobPostion" type="text" name="JobPostion" placeholder="Job-Position" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input asp-for="Email" type="email" name="Email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input asp-for="Password" type="password" name="password" placeholder="Password" />
            </div>
                <div class="input-field">
              <i class="fas fa-lock"></i>
              <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" placeholder="Confirm  Password" />
            </div>
            
            <input type="submit" class="btn" value="Sign up" />
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Signup Here If You Don't Have Account.
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              If You Already Have Account Signin Here.
            </p>
               <a asp-action="Signin" asp-controller="Login" class="btn transparent" id="sign-in-btn">
              Sign in
            </a>
          </div>
        </div>
      </div>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/signupin.js" asp-append-version="true"></script>
  