<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] | Job-matching</title>
        
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;700&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/sweetalert.css" />
    <script src="~/js/sweetalert.js" asp-append-version="true"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
					
						<a class="navbar-brand" target="_blank"><img style="height: 30px;" src="~/image/j.jpeg" alt=""></a>	
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                            <a asp-action="MainIndex" asp-controller="Main" class="nav-link text-dark btn-outline-primary" >Home</a>
							
								</li>
                                	<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                               <a asp-action="NewjobRelatedtoEmployee" asp-controller="Main" class="nav-link text-dark btn-outline-primary">new post related to ur profile   </a>

								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a asp-action="GetEmployeeApplications" asp-asp-controller="Main" class="nav-link text-dark btn-outline-primary">My Applications   </a>

								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
									<div class="dropdown-menu">
									    <a class="nav-link" href="#">@User.Identity.Name</a>

                                         <a asp-action="Resume" asp-controller="Main" class="nav-link text-dark btn-outline-primary">My Resume</a> <br>
                                          <a class="nav-link text-dark btn-outline-primary" asp-area="" asp-controller="HiringManager" asp-action="Logout">Logout</a>


									</div>
								</li>
						
							</ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
	</div>



    </header>


 
    <div class="container">
        <main role="main" class="pb-3">
			
          <partial name="_alertPage" />

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <center class="container">
            &copy; 2021 | All rights reserved. 
        </center>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    <script  src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>