@{
    
    Layout ="~/Views/Shared/_HiringLayout.cshtml";

}

@* @model List<Models.projectModels.Job> *@
@model List<Models.projectModels.EmployeeApplication>;

@using System.Security.Claims;





<div class="Container">


                    @if (@Model != null){

            


                @foreach(var item in Model)

                    {
                        
                            <br><br>
                    <br><br>
                    <br><br>
                    <br><br>


                        <div class="card" style="">
                    <div class="card-body">
                        <h5 class="card-title">@item.Jobtitle</h5>
                        <h1 >@item.ComapanyName</h1  >
                        <p>@item.EmployeeEmail</p>
                    </div>
                    </div>
                    <br><br>
                    <br><br>
                    <br><br>
                        
            }
        }
        else{

            <h1>u havent any application!</h1>
        }





</div>

