@{
    Layout ="~/Views/Shared/_HiringLayout.cshtml";

    
}

@model List<Models.projectModels.Job>

@using System.Security.Claims;



<div class="Container">


        <h1>Your Posts</h1>
    
                        @foreach(var item in Model)

                            {


                                    

                                    <div class="Container">
                         <div class="card" style="">
                            <div class="card-body">
                                <h1 class="card-title">@item.JobTitle</h1>
                                <hr>
                                <a style="font-size: 2rem;" >@item.CompanyName</a >
                                <p>@item.JobDetail</p>
                                <hr>
                                <span><a style="text-decoration: none;" href=""> post date:  @item.dateTime </a></span>
                                <a style="float: right;" href="">see an employee related to this job</a>
                     
                        
                            </div>
                         </div>
                    </div>
    
            <br>
            <br>
                             
                                
                                
                    } 
                    


</div>

