@model Models.projectModels.Job;

@{
    Layout="";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Job-matching</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h1>Post Job</h1>
<form asp-action="PostJob" asp-area="" method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>JobTitle:</label>
                <input asp-for="JobTitle" type="text" class="form-control required" placeholder="Enter Job Title" tabindex="1">
            </div>
             <div class="form-group">
                <label>JobDetail:</label>
                <textarea asp-for="JobDetail" name="" id="" cols="30" class="form-control required" rows="10"></textarea>
            </div>
        
             <div class="form-group">
                <label>Comapany:</label>
                <input asp-for="CompanyName" type="text" class="form-control required" placeholder="Enter Comapny name" tabindex="4">
            </div>

             <div class="form-group">
                <label>DateTime:</label>
                <input asp-for="dateTime" type="text" class="form-control required" placeholder="Date" tabindex="4">
            </div>
             
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <center>
                    <button type="submit" class="btn btn-primary">Post</button>
                </center>
            </div>
        </div>
    </div>
</form>