@model Models.projectModels.Job;

@{
 
    Layout ="~/Views/Shared/_HiringLayout.cshtml";



}
<div style="margin-top: 6rem;">

<h1>Post Job</h1>
<form asp-action="PostJob" asp-area="" method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>JobTitle:</label>
                <input asp-for="JobTitle" type="text" class="form-control required" placeholder="Enter Job Title" tabindex="1">
            </div>
            <div class="form-group">
                <label>JobType:</label>
                <input asp-for="JobType" type="text" class="form-control required" placeholder="Enter Job Type" tabindex="1">
            </div>
            <div class="form-group">
                <label>SalaryRange:</label>
                <input asp-for="SalaryRange" type="text" class="form-control required" placeholder="Enter Salary Range" tabindex="1">
            </div>
            <div class="form-group">
                <label>CompanyNameLogo Url:</label>
                <input asp-for="CompanyNameLogo" type="text" class="form-control required" placeholder="Enter Logo Url" tabindex="1">
            </div>
            

             <div class="form-group">
                <label>JobDetail:</label>
                <textarea asp-for="JobDetail" type="text"  placeholder="Enter the job Detail here" id="" cols="30" class="form-control required" rows="10"></textarea>
            </div> 
        
             <div class="form-group">
                <label>Comapany Name:</label>
                <input asp-for="CompanyName" type="text" class="form-control required" placeholder="Enter Comapny name" tabindex="4">
            </div>             
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <center>
                    <button type="submit" class="btn btn-primary">Post</button>
                </center>
            </div>
        </div>
    </div>
</form>

</div>