
@{
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Job-matching</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

    <a class="nav-link text-dark btn-outline-primary" asp-area="" asp-controller="Applicants" asp-action="ApplicantSignup">Register as User </a>

    <a class="nav-link text-dark btn-outline-primary" asp-area="" asp-controller="HiringManager" asp-action="HiringManagerSignup">Regist as Hiring Manager</a>
