@model List<Models.projectModels.EmployeeApplication>;



@{
    
    Layout ="~/Views/Shared/_MainViewLayout.cshtml";
    
}




<div class="row">
    <div class="col-md-12">
        <h1>List of applications</h1>
    </div>

</div>

<div>

        @if (@Model != null){

            


                @foreach(var item in Model)

                    {
                        
                            <br><br>
                    <br><br>
                    <br><br>
                    <br><br>


                        <div class="card" style="">
                    <div class="card-body">
                        <h5 class="card-title">@item.Jobtitle</h5>
                        <h1 >@item.ComapanyName</h1  >
                    </div>
                    </div>
                    <br><br>
                    <br><br>
                    <br><br>
                        
            }
        }
        else{

            <h1>U havent any application here!</h1>
        }


</div>